<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453597000152-4ih88sfucnks9i7i477jnms0ce59iln7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453597000152-4ih88sfucnks9i7i477jnms0ce59iln7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>453597000152-4pnjio8q8rrm1dl20e3o94mis71bvqpo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzqu2Te6XMZHuG5IEjfCUNE8u2p1IzwNc</string>
	<key>GCM_SENDER_ID</key>
	<string>453597000152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.miaged</string>
	<key>PROJECT_ID</key>
	<string>miageflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>miageflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453597000152:ios:c110ecd8d884b68e34c2ad</string>
</dict>
</plist>